<TITLE></TITLE>
<TITLE>MS-Fit Search Results</TITLE>
<BODY BGCOLOR=DDFFDD TEXT=000000 LINK=4D4DFF VLINK=FF0000>
<H2 ALIGN=center>MS-Fit Search Results</H2><HR>
Press stop on your browser if you wish to abort this MS-Fit search prematurely.<BR>
																	<SCRIPT LANGUAGE="Javascript">msprodLink="/ucsfbin3.2/msprod.cgi?it=i&it=m&it=a&it=b&it=y&it=I&it=h&it=n&it=B&mass_type=monoisotopic&instrument_name=&user_aa_c=0&user_aa_h=0&user_aa_n=0&user_aa_o=0&user_aa_s=0&user_aa_p=0&msparams_dir=msparams3.2\\&seqdb_dir=seqdb\\&cys=acrylamide&nterm=Hydrogen&cterm=Free+Acid&";
msdigestLink="/ucsfbin3.2/msdigest.cgi?min_digest_fragment_mass=500.0&user1_name=&database=SwissProt.fasta&instrument_name=&enzyme=Trypsin&missed_cleavages=2&msparams_dir=msparams3.2\\&seqdb_dir=seqdb\\&cys=acrylamide&nterm=Hydrogen&cterm=Free+Acid&";
accessLink="http://www.expasy.ch/cgi-bin/get-sprot-entry/def?";
</SCRIPT>

<TABLE CELLSPACING=4><TR><TD>
Sample ID (comment):<B> <!--comment--></B><BR>
Database searched:<B> <!--database-->SwissProt.fasta</B><BR>Molecular weight search (<B>1000 - 100000 Da</B>) selects <B>177377</B> entries.<BR>pI search (<B>3.00 - 10.00</B>) selects <B>176117</B> entries.<BR>Combined molecular weight and pI searches select <B>165815</B> entries.<BR>
MS-Fit search selects <B>4</B> entries.<P>
</TD>
</TABLE>
<TABLE CELLPADDING=4>
<TR><TD ALIGN=center>Min. # Peptides<BR>to Match<BR><B><!--min_matches-->5</B><TD ALIGN=center>Peptide Mass<BR>Tolerance (+/-)<BR><B><!--parent_mass_tolerance-->0.500 <!--tolerance_units-->Da</B><TD ALIGN=center>Peptide Masses<BR>are<BR><B>monoisotopic</B><TD ALIGN=center>Digest<BR>Used<BR><B><!--enzyme-->Trypsin</B><TD ALIGN=center>Max. # Missed<BR>Cleavages<BR><B><!--missed_cleavages-->1</B><TD ALIGN=center>Cysteines<BR>Modified by<BR><B><!--cys-->acrylamide</B>
<TD NOWRAP ALIGN=center>Peptide<BR>N terminus<BR><B>Hydrogen (H)</B><TD NOWRAP ALIGN=center>Peptide<BR>C terminus<BR><B>Free Acid (O H)</B><TD ALIGN=center>Input #<BR>Peptide Masses<BR><B>8</B>
</TABLE>

<H3 ALIGN=center>Result Summary</H3>

<TABLE>
<TR><TH>Rank<TH>MOWSE<BR>Score<TH># (%)<BR>Masses<BR>Matched <TH>Protein<BR>MW (Da)/pI<TH>Species<TH>SwissProt.fasta<BR>Accession #<TH ALIGN=left>Protein Name
<TR>
<TR><TH><!--rank--><A HREF="#0">1</A><TH><!--mowse_score-->1.41e+003<TH NOWRAP>7/8 (87%)<TH NOWRAP><!--protein_mw--> 30276.5 / <!--protein_pI-->5.71<TD><!--species-->BOVIN<TH><!--accession_number--><SCRIPT> document.writeln ( "<A HREF =\"" + accessLink + "P15497\"> P15497 </A>" );</SCRIPT><TD><!--entry_name-->Apolipoprotein A-I precursor (Apo-AI) (ApoA-I)
<TR><TH><!--rank--><A HREF="#1">2</A><TH><!--mowse_score-->49.4<TH NOWRAP>6/8 (75%)<TH NOWRAP><!--protein_mw--> 92719.9 / <!--protein_pI-->7.01<TD><!--species-->MOUSE<TH><!--accession_number--><SCRIPT> document.writeln ( "<A HREF =\"" + accessLink + "Q80Y81\"> Q80Y81 </A>" );</SCRIPT><TD><!--entry_name-->Zinc phosphodiesterase ELAC protein 2 (Ribonuclease Z 2) (RNase Z 2) (tRNase Z 2) (tRNA 3 endonuclease 2) (ElaC homolog protein 2)
<TR><TH><!--rank--><A HREF="#2">3</A><TH><!--mowse_score-->38.3<TH NOWRAP>5/8 (62%)<TH NOWRAP><!--protein_mw--> 64593.7 / <!--protein_pI-->6.86<TD><!--species-->BTV1A<TH><!--accession_number--><SCRIPT> document.writeln ( "<A HREF =\"" + accessLink + "P33471\"> P33471 </A>" );</SCRIPT><TD><!--entry_name-->Nonstructural protein NS1
<TR><TH><!--rank--><A HREF="#3">4</A><TH><!--mowse_score-->17.2<TH NOWRAP>5/8 (62%)<TH NOWRAP><!--protein_mw--> 92340.5 / <!--protein_pI-->7.03<TD><!--species-->RAT<TH><!--accession_number--><SCRIPT> document.writeln ( "<A HREF =\"" + accessLink + "Q8CGS5\"> Q8CGS5 </A>" );</SCRIPT><TD><!--entry_name-->Zinc phosphodiesterase ELAC protein 2 (Ribonuclease Z 2) (RNase Z 2) (tRNase Z 2) (tRNA 3 endonuclease 2) (ElaC homolog protein 2)
</TABLE><HR><P>

<H3 ALIGN=center>Detailed Results</H3>
<BR><A NAME="0"></A><!--rank-->1. <!--fraction_matched-->7/8 matches (87%).  <!--prot_mw--> 30276.5 Da, pI = <!--prot_pI-->5.71. Acc. # <!--accession_number-->P15497. <!--species-->BOVIN. <!--entry_name-->Apolipoprotein A-I precursor (Apo-AI) (ApoA-I).

<TABLE>
<TR><TH>m/z<BR>submitted</TH><TH>  MH<SUP>+</SUP><BR>matched</TH><TH>Delta <BR>Da</TH><TH>start</TH><TH>end</TH><TH ALIGN=left>Peptide Sequence <BR>(Click for Fragment Ions)</TH>
<TR><TH ALIGN=right><!--in_mass-->676.3718<TH ALIGN=right><!--matched_mass-->676.3630<TH ALIGN=right><!--delta_mass-->0.0088<TH>  101<TH>  106<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=ETASLR\">ETASLR</A>");</SCRIPT>(Q)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->825.4571<TH ALIGN=right><!--matched_mass-->825.4583<TH ALIGN=right><!--delta_mass-->-0.0012<TH>  177<TH>  183<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=AHVETLR\">AHVETLR</A>");</SCRIPT>(Q)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1017.5370<TH ALIGN=right><!--matched_mass-->1017.5369<TH ALIGN=right><!--delta_mass-->0.0001<TH>  142<TH>  150<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=VAPLGEEFR\">VAPLGEEFR</A>");</SCRIPT>(E)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1026.5964<TH ALIGN=right><!--matched_mass-->1026.5948<TH ALIGN=right><!--delta_mass-->0.0016<TH>  164<TH>  172<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=LSPLAQELR\">LSPLAQELR</A>");</SCRIPT>(D)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1040.6121<TH ALIGN=right><!--matched_mass-->1040.6104<TH ALIGN=right><!--delta_mass-->0.0017<TH>  229<TH>  237<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=AKPVLEDLR\">AKPVLEDLR</A>");</SCRIPT>(Q)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1196.7132<TH ALIGN=right><!--matched_mass-->1196.7254<TH ALIGN=right><!--delta_mass-->-0.0122<TH>  238<TH>  248<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=QGLLPVLESLK\">QGLLPVLESLK</A>");</SCRIPT>(V)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1218.5796<TH ALIGN=right><!--matched_mass-->1218.5755<TH ALIGN=right><!--delta_mass-->0.0041<TH>  206<TH>  217<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=EGGGSLAEYHAK\">EGGGSLAEYHAK</A>");</SCRIPT>(A)</NOBR><TH>
</TD>
</TABLE>
<BR>1 unmatched mass:  <!--in_mass-->1105.4550 <P><NOBR> The matched peptides cover <B><!--protein_coverage-->23%</B> (63/265 AA's) of the protein.</NOBR>
<BR>Coverage Map for This Hit (MS-Digest index #): <SCRIPT> document.write ( "<A HREF = \"" + msdigestLink + "dna_reading_frame=1&access_method=Index+Number&open_reading_frame=1&coverage_map=0+100+6+35+9+13+9+4+7+22+12+11+20+17&index_num=126653\"> 126653 </A>" );</SCRIPT><P>
<BR><A NAME="1"></A><!--rank-->2. <!--fraction_matched-->6/8 matches (75%).  <!--prot_mw--> 92719.9 Da, pI = <!--prot_pI-->7.01. Acc. # <!--accession_number-->Q80Y81. <!--species-->MOUSE. <!--entry_name-->Zinc phosphodiesterase ELAC protein 2 (Ribonuclease Z 2) (RNase Z 2) (tRNase Z 2) (tRNA 3 endonuclease 2) (ElaC homolog protein 2).

<TABLE>
<TR><TH>m/z<BR>submitted</TH><TH>  MH<SUP>+</SUP><BR>matched</TH><TH>Delta <BR>Da</TH><TH>start</TH><TH>end</TH><TH ALIGN=left>Peptide Sequence <BR>(Click for Fragment Ions)</TH>
<TR><TH ALIGN=right><!--in_mass-->676.3718<TH ALIGN=right><!--matched_mass-->676.3605<TH ALIGN=right><!--delta_mass-->0.0113<TH>    1<TH>    5<TH ALIGN=left><NOBR>(-)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=MWALR\">MWALR</A>");</SCRIPT>(S)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->825.4571<TH ALIGN=right><!--matched_mass-->825.4107<TH ALIGN=right><!--delta_mass-->0.0464<TH>  279<TH>  285<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=SITYEGR\">SITYEGR</A>");</SCRIPT>(E)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1017.5370<TH ALIGN=right><!--matched_mass-->1017.5192<TH ALIGN=right><!--delta_mass-->0.0178<TH>  739<TH>  747<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=VGIAFDHMK\">VGIAFDHMK</A>");</SCRIPT>(V)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1017.5370<TH ALIGN=right><!--matched_mass-->1017.5329<TH ALIGN=right><!--delta_mass-->0.0041<TH>  821<TH>  830<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=ESVANTLGAR\">ESVANTLGAR</A>");</SCRIPT>(V)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1026.5964<TH ALIGN=right><!--matched_mass-->1026.5770<TH ALIGN=right><!--delta_mass-->0.0194<TH>   86<TH>   93<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=LMQEHKLK\">LMQEHKLK</A>");</SCRIPT>(V)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1040.6121<TH ALIGN=right><!--matched_mass-->1040.4624<TH ALIGN=right><!--delta_mass-->0.1497<TH>  350<TH>  356<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=YQQWMER\">YQQWMER</A>");</SCRIPT>(F)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1196.7132<TH ALIGN=right><!--matched_mass-->1196.5911<TH ALIGN=right><!--delta_mass-->0.1221<TH>  462<TH>  472<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=NVQENPAPAEK\">NVQENPAPAEK</A>");</SCRIPT>(R)</NOBR><TH>
</TD>
</TABLE>
<BR>2 unmatched masses:  <!--in_mass-->1105.4550  <!--in_mass-->1218.5796 <P><NOBR> The matched peptides cover <B><!--protein_coverage-->6%</B> (57/831 AA's) of the protein.</NOBR>
<BR>Coverage Map for This Hit (MS-Digest index #): <SCRIPT> document.write ( "<A HREF = \"" + msdigestLink + "dna_reading_frame=1&access_method=Index+Number&open_reading_frame=1&coverage_map=1+5+80+8+185+7+64+7+105+11+266+9+73+10+1&index_num=176730\"> 176730 </A>" );</SCRIPT><P>
<BR><A NAME="2"></A><!--rank-->3. <!--fraction_matched-->5/8 matches (62%).  <!--prot_mw--> 64593.7 Da, pI = <!--prot_pI-->6.86. Acc. # <!--accession_number-->P33471. <!--species-->BTV1A. <!--entry_name-->Nonstructural protein NS1.

<TABLE>
<TR><TH>m/z<BR>submitted</TH><TH>  MH<SUP>+</SUP><BR>matched</TH><TH>Delta <BR>Da</TH><TH>start</TH><TH>end</TH><TH ALIGN=left>Peptide Sequence <BR>(Click for Fragment Ions)</TH>
<TR><TH ALIGN=right><!--in_mass-->676.3718<TH ALIGN=right><!--matched_mass-->676.3670<TH ALIGN=right><!--delta_mass-->0.0048<TH>  447<TH>  451<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=WELTK\">WELTK</A>");</SCRIPT>(A)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1017.5370<TH ALIGN=right><!--matched_mass-->1017.5329<TH ALIGN=right><!--delta_mass-->0.0041<TH>  124<TH>  132<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=QSALINSER\">QSALINSER</A>");</SCRIPT>(V)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1026.5964<TH ALIGN=right><!--matched_mass-->1026.6675<TH ALIGN=right><!--delta_mass-->-0.0711<TH>   64<TH>   72<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=AIRLIELAK\">AIRLIELAK</A>");</SCRIPT>(E)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1105.4550<TH ALIGN=right><!--matched_mass-->1105.4157<TH ALIGN=right><!--delta_mass-->0.0393<TH>  545<TH>  552<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=MSQMWMEY\">MSQMWMEY</A>");</SCRIPT>(-)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1218.5796<TH ALIGN=right><!--matched_mass-->1218.5651<TH ALIGN=right><!--delta_mass-->0.0145<TH>  503<TH>  512<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=AYATMFEMVR\">AYATMFEMVR</A>");</SCRIPT>(C)</NOBR><TH>
</TD>
</TABLE>
<BR>3 unmatched masses:  <!--in_mass-->825.4571  <!--in_mass-->1040.6121  <!--in_mass-->1196.7132 <P><NOBR> The matched peptides cover <B><!--protein_coverage-->7%</B> (40/552 AA's) of the protein.</NOBR>
<BR>Coverage Map for This Hit (MS-Digest index #): <SCRIPT> document.write ( "<A HREF = \"" + msdigestLink + "dna_reading_frame=1&access_method=Index+Number&open_reading_frame=1&coverage_map=0+63+9+51+9+314+5+51+10+32+8&index_num=169840\"> 169840 </A>" );</SCRIPT><P>
<BR><A NAME="3"></A><!--rank-->4. <!--fraction_matched-->5/8 matches (62%).  <!--prot_mw--> 92340.5 Da, pI = <!--prot_pI-->7.03. Acc. # <!--accession_number-->Q8CGS5. <!--species-->RAT. <!--entry_name-->Zinc phosphodiesterase ELAC protein 2 (Ribonuclease Z 2) (RNase Z 2) (tRNase Z 2) (tRNA 3 endonuclease 2) (ElaC homolog protein 2).

<TABLE>
<TR><TH>m/z<BR>submitted</TH><TH>  MH<SUP>+</SUP><BR>matched</TH><TH>Delta <BR>Da</TH><TH>start</TH><TH>end</TH><TH ALIGN=left>Peptide Sequence <BR>(Click for Fragment Ions)</TH>
<TR><TH ALIGN=right><!--in_mass-->676.3718<TH ALIGN=right><!--matched_mass-->676.3605<TH ALIGN=right><!--delta_mass-->0.0113<TH>    1<TH>    5<TH ALIGN=left><NOBR>(-)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=MWALR\">MWALR</A>");</SCRIPT>(S)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->825.4571<TH ALIGN=right><!--matched_mass-->825.4107<TH ALIGN=right><!--delta_mass-->0.0464<TH>  282<TH>  288<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=SITYEGR\">SITYEGR</A>");</SCRIPT>(E)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1017.5370<TH ALIGN=right><!--matched_mass-->1017.5192<TH ALIGN=right><!--delta_mass-->0.0178<TH>  742<TH>  750<TH ALIGN=left><NOBR>(K)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=VGIAFDHMK\">VGIAFDHMK</A>");</SCRIPT>(V)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1026.5964<TH ALIGN=right><!--matched_mass-->1026.5770<TH ALIGN=right><!--delta_mass-->0.0194<TH>   88<TH>   95<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=LMQEHKLK\">LMQEHKLK</A>");</SCRIPT>(V)</NOBR><TH>
<TR><TH ALIGN=right><!--in_mass-->1040.6121<TH ALIGN=right><!--matched_mass-->1040.4624<TH ALIGN=right><!--delta_mass-->0.1497<TH>  353<TH>  359<TH ALIGN=left><NOBR>(R)<SCRIPT> document.write ( "<A HREF = \"" + msprodLink + "sequence=YQQWMER\">YQQWMER</A>");</SCRIPT>(F)</NOBR><TH>
</TD>
</TABLE>
<BR>3 unmatched masses:  <!--in_mass-->1105.4550  <!--in_mass-->1196.7132  <!--in_mass-->1218.5796 <P><NOBR> The matched peptides cover <B><!--protein_coverage-->4%</B> (36/827 AA's) of the protein.</NOBR>
<BR>Coverage Map for This Hit (MS-Digest index #): <SCRIPT> document.write ( "<A HREF = \"" + msdigestLink + "dna_reading_frame=1&access_method=Index+Number&open_reading_frame=1&coverage_map=1+5+82+8+186+7+64+7+382+9+77&index_num=126798\"> 126798 </A>" );</SCRIPT><P>

<HR>MS-Fit 3.1.1, ProteinProspector 3.2.1 <BR>&#169 Copyright (1995-1999) The Regents of the University of California.</BODY><!--end_html_file-->